header {
    position: fixed;
    z-index: 9;

    top: 0;
    left: 0;
    right: 0;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 30px;
    background: transparent;
    transition: all ease 0.5s;
}

header.black {
    background-color: #141414;
}

.header--logo {
    display: flex;
    align-items: center;
}

.header--logo ul {
    margin-left: 40px;
    list-style: none;
    display: flex;
}

.header--logo ul li {
    margin-right: 15px;
}

.header--logo ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.2s;
}

.header--logo ul li a:hover {
    opacity: 0.8;
}

.header--logo img {
    width: 110px;
}

.header--user img {
    height: 35px;
    width: 35px;
}

.header--user {
    height: 35px;
    border-radius: 3px;
}

@media (max-width: 760px) {
    .header--logo ul {
        display: none;
    }
}
